$screen-size-factor:    3;
$screen-size-height:    144px * $screen-size-factor;
$screen-size-width:     160px * $screen-size-factor;

*, *:before, *:after {
    /* box-sizing */
    box-sizing: inherit;
}

html {
    /* box-sizing */
    box-sizing: border-box;
}

body {
    /* background */
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#wrapperOuter {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#wrapperInner {
    display: table-cell;
    vertical-align: middle;
}

#game {
    /* border / margin / padding */
    border: thin solid black;

    margin-left:    auto;
    margin-right:   auto;

    /* color */
    background-color:   white;

    /* size */
    height: $screen-size-height;
    width:  $screen-size-width;

    /* progress */
    progress {
        /* size */
        width: $screen-size-width;
    }

    div {
        h1 {
            text-align: center;
        }
        h2 {
            margin-left: 10px;
        }

        span.back {
            margin: 10px;

            display: inline-block;

            cursor: pointer;
        }

        /* game */
        &#gameplay {
            canvas {
                width:  100%;
                height: 100%;
            }
        }

        /* leaderboard */
        &#leaderboard {
            table {
                border-collapse:    collapse;

                margin-top:     50px;
                margin-left:    75px;
                margin-right:   75px;

                width: $screen-size-width - 150px;

                tr {
                    td {
                        padding-top:    2px;
                        padding-bottom: 2px;

                        font-size: 20px;
                    }
                }
            }
        }

        /* controls-screen */
        &#controls {
        }

        /* options-screen */
        &#options {
            input[type=checkbox] {
                margin-left: 15px;
                margin-right: 5px;
            }
            input[type=range] {
                margin-left: 15px;

                width: $screen-size-width - 150px;
            }
        }

        /* about-screen */
        &#about {
            width: 100%;
            height: 100%;

            p {
                padding-left: 10px;
                padding-right: 10px;
            }   
            
            a, span {
                text-align: center;
            }     
        }

        /* menu */
        &#menu {
            height: 100%;

            /* flex */
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            text-align: center;

            span {
                /* padding */
                padding-top: 10px;
                padding-bottom: 10px;

                /* font */
                font-size: 30px;

                /* hover */
                &:hover {
                    cursor: pointer;
                }

                /* selected */
                &.selected {
                    font-weight: bold;
                }
            }
        }
    }
}