@import "normalize";

$screen-size-factor:        3;
$screen-size-height:        144px * $screen-size-factor;
$screen-size-width:         160px * $screen-size-factor;
$screen-border-width:       1px;
$screen-size-width-real:    $screen-size-width  - 2 * $screen-border-width;
$screen-size-height-real:   $screen-size-height - 2 * $screen-border-width;

*, *:before, *:after {
    /* box-sizing */
    box-sizing: inherit;
}

html {
    /* box-sizing */
    box-sizing: border-box;
}

body {
    /* background */
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#wrapperOuter {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#wrapperInner {
    display: table-cell;
    vertical-align: middle;
}

#game {
    /* border / margin / padding */
    border: $screen-border-width solid black;

    margin-left:    auto;
    margin-right:   auto;

    /* color */
    background-color:   white;

    /* size */
    height: $screen-size-height;
    width:  $screen-size-width;

    div {
        h1 {
            text-align: center;
        }
        h2 {
            margin-left: 10px;
        }

        span.back {
            margin: 10px;

            display: inline-block;

            cursor: pointer;

            &:hover {
                font-weight: bold;
            }
        }

        /* game */
        &#gameplay {
            canvas {
                width:  100%;
                height: 100%;
            }
        }

        /* gameplay-gameover */
        &#gameplay-gameover {
            text-align: center;

            input[type=text] {
                width: 360px;
                height: 50px;


                font-size: 30px;
                text-align: center;
                text-transform: uppercase;
            }

            table {
                width: 360px;

                margin-top:     5px;
                margin-left:    auto;
                margin-right:   auto;

                tr {
                    td {
                        height: 40px;
                        width:  40px;

                        border: 1px lightgray solid;

                        text-align: center;
    
                        cursor: pointer;

                        &.selected {
                            font-weight:    bold;
                            font-size:      25px;
                        }
                    }
                }
            }
        }

        /* gameplay-restart */
        &#gameplay-restart {
            table {
                margin-top:     100px;
                margin-left:    auto;
                margin-right:   auto;

                tr {
                    td {
                        padding-left:   15px;
                        padding-right:  15px;

                        font-size: 25px;

                        cursor: pointer;

                        &.selected {
                            font-weight:    bold;
                        }
                    }
                }
            }
        }

        /* leaderboard */
        &#leaderboard {
            table {
                border-collapse:    collapse;

                width: 350px;

                margin-left:    auto;
                margin-right:   auto;

                width: $screen-size-width - 200px;

                tr {
                    td {
                        padding-top:    2px;
                        padding-bottom: 2px;

                        font-size: 20px;

                        &:nth-child(1), &:nth-child(3) {
                            text-align: right;
                        }

                        &:nth-child(1) {
                            padding-right: 10px;
                        }
                    }

                    &.loading {
                        td {
                            text-align: center;
                        }
                    }

                    &.buttons {
                        td {
                            &:nth-child(1) button {
                                float: left;
                            }

                            &:nth-child(2) button {
                                float: right;
                            }
                        }
                    }
                }
            }
        }

        /* controls-screen */
        &#controls {
            table tr {
                td {
                    padding: 2px;

                    &:nth-child(1) {
                        width: 20%;

                        button {
                            width: 100%;
                        }
                    }

                    &:nth-child(2) {
                        width: 80%;

                        progress {
                            height: 5px;
                        }
                    }
                }

                &[data-controlname=gamepad] {
                    td:nth-child(2) {
                        label {
                            input[type=radio] {
                                width: 4%;

                            }

                            progress {
                                width: 47%;
                                margin-left: 1%;
                            }
                        }
                    }
                }

                &[data-controlname=orientation] {
                    td:nth-child(2) {
                        progress {
                            width: 49%;
                        }
                    }
                }
            }
        }

        /* options-screen */
        &#options {
            table {
                width: 100%;

                tr {
                    &.selected td:nth-child(1) {
                        font-weight: bold;
                    }

                    td {
                        padding-top:    10px;
                        padding-bottom: 10px;

                        padding-left:   5px;
                        padding-right:  5px;

                        &:nth-child(1) {
                            width: 125px;
                        }

                        /*
                        CSS 4
                        &:has(> input[type=range]) {
                            width: 100%;
                        }
                        */

                        label {
                            cursor: pointer;
                        }

                        input[type=range] {
                            width: 100%;
                            cursor: pointer;
                        }
                    }
                        
                    &[data-option=style] {
                        label {                                
                            input[type=radio] {
                                display: none;
                            }

                            img {
                                max-height: 75px;
                                max-width:  75px;
                            }

                            input[type=radio]:checked + img {
                                border: 3px black dotted;
                            }

                            input[type=radio]:not(:checked) + img {
                                border: 3px transparent solid;
                            }
                        }
                    }

                    &[data-option=volume] {
                        label {
                            input[type=checkbox] {
                                margin-left:    5px;
                                margin-right:   5px;
                            }
                        }
                    }
                }
            }
        }

        /* about-screen */
        &#about {
            p {
                padding-left:   10px;
                padding-right:  10px;

                text-align: justify;
            }   
            
            div {
                margin-top: 75px;
                text-align: center;
            }
        }

        /* menu */
        &#menu {
            height: 100%;

            /* flex */
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            text-align: center;

            span {
                /* padding */
                padding-top: 10px;
                padding-bottom: 10px;

                /* font */
                font-size: 30px;

                /* hover */
                &:hover {
                    cursor: pointer;
                }

                /* selected */
                &.selected {
                    font-weight: bold;
                }
            }
        }
    }
}