@import "normalize";

$screen-ratio-height:       144;
$screen-ratio-width:        160;
$screen-max-fill:           0.90;

*, *:before, *:after {
    /* box-sizing */
    box-sizing: inherit;
}

html {
    /* box-sizing */
    box-sizing: border-box;

    /* font-size */
    $step: 0.5;
    @for $i from 0 through 15 / $step {
        $factor: $i * $step + $step;
        @media screen and (min-aspect-ratio: #{$screen-ratio-width} / #{$screen-ratio-height})
                      and (min-height: #{($factor - $step) * $screen-ratio-height}px) and (max-height: #{$factor * $screen-ratio-height}px),
               screen and (max-aspect-ratio: #{$screen-ratio-width} / #{$screen-ratio-height})
                      and (min-width: #{($factor - $step) * $screen-ratio-width}px) and (max-width: #{$factor * $screen-ratio-width}px) {
            font-size: 4px * $factor;
        }
    }

    /* background */
    background-attachment: fixed;
    background-image: url(../images/background.jpg); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


div#game {
    // no fullscreen
    width:      #{$screen-max-fill * 100}vw; 
    height:     #{$screen-max-fill * $screen-ratio-height / $screen-ratio-width * 100}vw;
    max-height: #{$screen-max-fill * 100}vh;
    max-width:  #{$screen-max-fill * $screen-ratio-width / $screen-ratio-height * 100}vh;

    // fullscreen
    &.fullscreen {
        width:      #{100}vw; 
        height:     #{$screen-ratio-height / $screen-ratio-width * 100}vw;
        max-height: #{100}vh;
        max-width:  #{$screen-ratio-width / $screen-ratio-height * 100}vh;        
    }

    position: absolute;
    top:0;  bottom:0;    /* vertical center */
    left:0; right:0;     /* horizontal center */

    /* border / margin / padding */
    border: 1px solid black;
    margin: auto;

    /* color */
    background-color:   white;

    div {
        h1 {
            margin-top: 2%;
            margin-bottom: 5%;

            text-align: center;
            font-size: 2.25rem;
        }

        span.back {
            margin: 1%;

            display: inline-block;

            cursor: pointer;

            &:hover {
                font-weight: bold;
            }
        }

        /* game */
        &#gameplay {
            &:hover {
                cursor: pointer;
            }

            canvas {
                width:  100%;
                height: 100%;
            }
        }

        /* gameplay-gameover */
        &#gameplay-gameover {
            text-align: center;

            input[type=text] {
                width: 90%;

                font-size: 1.5rem;
                line-height: 200%;
                text-align: center;
            }

            table {
                width: 90%;

                margin-top:     5%;
                margin-left:    auto;
                margin-right:   auto;

                tr {
                    td {
                        width:  (1 / 9) * 100%;

                        border: 1px lightgray solid;

                        cursor: pointer;

                        font-size: 1.5rem;
                        line-height: 150%;
                        text-align: center;

                        &.selected {
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        /* gameplay-restart */
        &#gameplay-restart {
            div {
                margin-top: 30%;

                display: flex;
                justify-content: space-around;

                span {
                    cursor: pointer;

                    font-size: 2rem;

                    &.selected {
                        font-weight: bold;
                    }
                }
            }
        }

        /* leaderboard */
        &#leaderboard {
            table {
                border-collapse: collapse;

                margin-left:  auto;
                margin-right: auto;

                width: 90%;

                tr {
                    td {
                        padding-top: 1%;

                        font-size: 1rem;

                        &:nth-child(1), &:nth-child(3) {
                            text-align: right;
                        }

                        &:nth-child(1) {
                            padding-right: 10px;
                        }
                    }

                    &.loading {
                        td {
                            text-align: center;
                        }
                    }
                }
            }

            div {
                span {
                    margin-top: 25px;
                    margin-left:  5%;
                    margin-right: 5%;

                    &:hover {
                        cursor: pointer;
                        
                        font-weight: bold;
                    }

                    &:first-child {
                        float: left;
                    }

                    &:last-child {
                        float: right;
                    }
                }
            }
        }

        /* controls-screen */
        &#controls {
            table {
                width: 100%;

                tr {
                    td {
                        padding: 1%;

                        font-size: 1rem;

                        &:nth-child(1) {
                            width: 20%;
                        }

                        &:nth-child(2) {
                            width: 80%;
                        }
                    }

                    &.command {
                        cursor: pointer;

                        &.disabled {
                            color: gray;
                        }
                    }

                    &.rangelist {
                        td:nth-child(2) {
                            label {
                                input[type=radio] {
                                    width: 4%;
                                }

                                progress {
                                    width: 47%;
                                    margin-left: 1%;
                                }
                            }
                        }
                    }

                    &.range2 {
                        td:nth-child(2) {
                            progress {
                                width: 49%;
                            }
                        }
                    }

                    &.selected {
                        font-weight: bold;
                    }
                }
            }
        }

        /* options-screen */
        &#options {
            table {
                width: 100%;

                tr {
                    &.selected td:nth-child(1) {
                        font-weight: bold;
                    }

                    td {
                        padding-top:    2%;
                        padding-bottom: 2%;

                        padding-left:   1%;
                        padding-right:  1%;

                        font-size: 1rem;
                        max-height: 20px;

                        &:nth-child(1) {
                            width: 25%;
                        }
                        &[colspan="1"]:nth-child(2) {
                            width: 20%;
                        }
                        &[colspan="2"]:nth-child(2) {
                            width: 75%;
                        }
                        &:nth-child(3) {
                            width: 55%;
                        }

                        label {
                            cursor: pointer;
                        }

                        input[type=range] {
                            width: 100%;
                            cursor: pointer;
                        }

                        input[type=checkbox] {
                            margin-right: 10px;
                        }
                    }
                        
                    &.radio {
                        label {                                
                            input[type=radio] {
                                display: none;
                            }

                            img {
                                width: 20%;
                            }

                            input[type=radio]:checked + img {
                                border: 3px black dotted;
                            }

                            input[type=radio]:not(:checked) + img {
                                border: 3px transparent solid;
                            }
                        }
                    }
                }
            }
        }

        /* about-screen */
        &#about {
            font-size: 1rem;

            a {
                text-decoration: none;

                &:active, &:link, &:visited, &:hover {                    
                    color: blue;
                }
                &:hover {
                    text-decoration: underline;
                }
            }

            p {
                padding-left:   1%;
                padding-right:  1%;

                text-align: justify;
            }   
            
            div {
                margin-top: 10%;
                text-align: center;
            }
        }

        /* menu */
        &#menu {
            height: 100%;

            /* flex */
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            /* font */
            text-align: center;

            h1 {
                /* font */
                font-size: 3rem;
                letter-spacing: 0.5rem;
            }

            span {
                /* font */
                font-size: 2rem;

                /* padding */
                padding-top:    2%;
                padding-bottom: 2%;

                /* cursor */
                cursor: pointer;

                /* selected */
                &.selected {
                    font-weight: bold;
                }
            }
        }
    }
}